*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #24135F;
    color: white;
}

/* Header styles start */
header {
    padding: 20px 35px;
    background-color: #24135F;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #AD8900;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #AD8900;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* h2 styles */
.intro {
    font-size: 25px;
    color: #AD8900;
    font-weight: bold;
    text-align: left;
    padding: 20px 35px;
}

.section-title {
    font-size: 48px;
    color: #AD8900;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;  
}

/* About me styles */

.intro p {
    color: white;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: lighter;
    font-size: 18px;
}

.img {
    border-radius: 8px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

/* Featured work styles */
.featured-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 300px;
}
.second-image {
    border-radius: 8px;
    height: auto;
    display: flex;
    width: 300px;
}
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: #AD8900;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.link-text {
    color: #AD8900;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Contact Me styles */
.contact {
    background: #24135F;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}


.contact-info p, .contact-info address {
margin: 20px 0;
font-size: 20px;
font-style: normal;
justify-content: center;
align-items: center;
}

.contact-info a {
    color: white;
}
